pkgbase = omaridian
	pkgdesc = Offline vintage world-clock screensaver for Omarchy and Wayland
	pkgver = 0.1.1
	pkgrel = 2
	url = https://github.com/daveplatt71/meridian
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = ninja
	depends = qt6-base>=6.11
	depends = qt6-declarative>=6.11
	depends = qt6-wayland>=6.11
	depends = wayland
	depends = noto-fonts
	source = omaridian-0.1.1.tar.gz::https://github.com/daveplatt71/meridian/archive/refs/tags/v0.1.1.tar.gz
	sha256sums = f14d47e7d8b52d1a74bc3958a7d34d00c6543dd8d3785e07332b16e92136b863

pkgname = omaridian
